h1 {
    color: rgb(199, 14, 14);
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(253, 86, 3);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: blanchedalmond;
    color:rgb(18, 62, 123)
}

.item{
    color: chocolate;
}

